.canvas-section {
    width: 80vw;
    height: 92vh;
    overflow: scroll;
}

.active-canvas {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}